@import"./utils/variables";
@import"./utils/mixins";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Shrikhand&display=swap');

body{
    @include body;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: black;
}

/* HEADER */

header{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    margin-bottom: 0.5em;
}

.logo__return{
    position: absolute;
    left: 1.5em;
    top: 1.5em;
}

/* IMAGE */

.background{
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    height: 20em;
    
}

/* MENU */

.menu{
    background-color: #F2F2F2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -4.5em;
    .menu__tilte{
        padding-top: 0.5em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 1.5em 0 1em;
        p{
            font-family: "Shrikhand", sans-serif;
            font-size: 1.5em;
        }
    .far{
        font-size: 1.5em;
    }
    .fas{
        font-size: 1.5em;
    }
    }
}

.menu__starters{
    position: relative;
    padding-left: 1em;
}

.menu__starters::after{
    @include aftermenu;
}

.menu__box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    background: white;
    border-radius: 15px;
    width: 90%;
    height: 4.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    white-space: nowrap;
    display: block;
    position: relative;
    h2{
        font-size: 1em;
        margin-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    p{
        margin-top: 0.5em;
        font-size: 1em;
        text-overflow: ellipsis;
        overflow: hidden;

    }
}

.box__menu{
    display: flex;
    justify-content: space-between;
    margin-left: 0.5em;
}

.menu__dishes{
    position: relative;
    padding-left: 1em;
}

.menu__dishes::after{
    @include aftermenu;
}

.menu__desserts{
    position: relative;
    padding-left: 1em;
}

.menu__desserts::after{
    @include aftermenu;
}

.menu__button{
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    padding-top: 1em;
}

.box__menu--menu{
    white-space: nowrap;
    overflow: hidden;
    padding-right: 1em;

}

.box__price{
    padding-top: 1em;
    margin-right: 0.5em;
    
}
/* ANIMATION COEUR */

.box__heart .fas{
    color:$secondary-color;
    display: block;
    background: -webkit-linear-gradient($primary-color 40%, $secondary-color 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.box__heart:hover{
    .far{
        opacity: 0;
    }
}

.far{
    position: absolute;
    background-color: #F2F2F2;
    opacity: 1;
    -webkit-transition:.4s ease-in-out;
    margin-top: -1em;
}

/* ANIMATION APPARITION MENU */ 

@keyframes FadeIn{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.box{
    animation: FadeIn 2s both;
}

.fade-1{
    animation-delay: 0.1s;
}

.fade-2{
    animation-delay: 0.2s;

}

.fade-3{
    animation-delay: 0.3s;

}

.fade-4{
    animation-delay: 0.4s;

}

.fade-5{
    animation-delay: 0.5s;

}

.fade-6{
    animation-delay: 0.6s;

}

.fade-7{
    animation-delay: 0.7s;

}

.fade-8{
    animation-delay: 0.8s;

}

.fade-9{
    animation-delay: 0.9s;

}

.fade-10{
    animation-delay: 1s;
}

/* ANIMATION VALIDATION MENU */ 

.box .validation{
    display: none;
    position: absolute;
    right: 0;
    background-color: #A4CCAE;
    height: 4.5em;
    width: 4em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.validation i{
    font-size: 30px;
    color: white;
    animation: rotate 1s; 
}

.box:hover .validation{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 1s ease;
    transform-origin: right;
}

.box:hover .box__price{
    animation: slideprice 1s both;
}

@keyframes rotate{
    0%{
        transform: rotate(0)
    }
    100%{
        transform: rotate(360deg)
    }
}

@keyframes slide{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

@keyframes slideprice{
    0%{
        margin-right: 0;
    }
    100%{
        margin-right: 5em;
    }
}
/* BOUTTON */ 

button{
    @include buttonmenu;
    
}

button:hover{
    @include buttonhover;
}

/* FOOTER */ 

footer{
    background-color: #3a3d3b;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    margin-bottom: 0;
    a{
        color: white;
    }
    h2{
        font-family: "Shrikhand", cursive;
        font-size: 1em;
    }
}

.footer__link{
    i{
        padding-right: 1em;
        padding-bottom: 0.9em;
    }
}

.footer a:visited{
    color: white;
}